---
component: social-buttons
---
<style>.bs-social-buttons .twitter-follow-button { width: 160px !important; }</style>
<div class="bs-social">
  <ul class="bs-social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=hariadi&amp;repo=viewer&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=hariadi&amp;repo=viewer&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
    </li>
    <li class="follow-btn">
      <a href="https://twitter.com/hariadi" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="false">Follow @hariadi</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hariadi.github.com/viewer/{{page.filename}}" data-count="horizontal" data-via="hariadi" data-related="viewer:Hariadi Hinta">Tweet</a>
    </li>
  </ul>
</div>
