{{! Footer
================================================== }}
<footer class="bs-footer">
  <div class="more-info">
    <div class="container">
      {{> btn-social }}
    </div>
  </div>

  <p>Template by <a href="http://twitter.com/assemblejs" target="_blank">@assemblejs</a>. Edited by <a href="http://twitter.com/hariadi" target="_blank">@hariadi</a>.</p>
  <p>Code licensed under <a href="https://github.com/hariadi/viewer/LICENSE-MIT" target="_blank">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
  <ul class="footer-links">
    <li><a href="http://hariadi.org">Blog</a></li>
    <li class="muted">&middot;</li>
    <li><a href="https://github.com/hariadi/viewer/issues/new">Issues</a></li>
    <li class="muted">&middot;</li>
    <li><a href="https://github.com/hariadi/viewer/">Repo</a></li>
  </ul>
</footer>
