<span class="nav-section-title"><a href="#android-studio-previews">Android Studio Previews</a></span>
<li> <a href="#canary-channel">Canary channel</a> </li>
<li> <a href="#dev-channel">Dev channel</a> </li>
<li> <a href="#beta-channel">Beta channel</a> </li>
<li> <a href="#stable-channel">Stable channel</a> </li>
<span class="nav-section-title">Android Studio</span>
{{#each studio.canary}}
<li> <a href="#{{slugify title }}">Canary</a> </li>
{{/each}}
{{#each studio.dev}}
<li> <a href="#{{slugify title }}">Dev</a> </li>
{{/each}}
