<li> <a href="#android-sdk-platforms">Android SDK platforms</a> </li>
<li> <a href="#sdk-tools">SDK Tools</a> </li>
<li> <a href="#sdk-platform-tools">SDK Platform-tools</a> </li>
<li> <a href="#sdk-platform">SDK Platform</a> </li>
<li> <a href="#system-image">System Image</a> </li>
<li> <a href="#android-support">Android Support</a> </li>
<li> <a href="#sdk-samples">SDK Samples</a> </li>
