<span class="nav-section-title">
  Android SDK Platform
</span> 
{{#withSort repository.sdk-repository.platform "version" dir="desc"}}
<li> <a href="#{{slugify version }}">{{ version }}</a> </li>           
{{/withSort }}