<span class="nav-section-title">
  Android SDK Source
</span>
{{#withSort repository.sdk-repository.source "api-level" dir="desc"}}
<li> <a href="#{{slugify api-level }}">{{ archives.archive.url }}</a> </li>
{{/withSort }}
