<div class="navbar">
  <div class="container">
    <a href="index.html" class="navbar-brand">Viewer</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse bs-navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        {{#each pages}}
        {{#isnt data.slug 'viewer'}}
        {{#isnt data.slug 'getting-start'}}
        <li{{#is dest this.dest}} class="active"{{/is}}>
          <a href="{{relative dest this.dest}}">{{data.section}}</a>
        </li>
        {{/isnt}}
        {{/isnt}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
