body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}
.navbar-bright {
  background-color:#111155;
    color:#fff;
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
    border:0 #eee solid;
    border-right-width:4px;
}
