<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
    <!-- Place anything custom after this. -->
    <style type="text/css" media="screen">
    .teaser iframe {
      margin: -7px 0 0 25px;
      vertical-align: text-top;
    }
    .teaser iframe + iframe {
      margin-left: -20px;
    }
  </style>
  </head>
  <body>

    <!-- Docs master nav -->
    {{> navbar }}

    {{!-- content
    =================================== --}}
    {{> body }}

    {{!-- footer scripts
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>
