<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
    <!-- Place anything custom after this. -->
  </head>
  <body>

    <!-- Docs master nav -->
    {{> nav-main }}

    <div class="container clearfix">
      {{> body }}
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ assets }}/js/jquery.js"></script>
    <script src="{{ assets }}/js/bootstrap.js"></script>
  </body>
</html>
